<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - LearningCompany</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/foundation/css")
</head>
<body>

    @Html.Partial("_Navbar")

    <div class="row">
        <div class="large-3 medium-4 columns">
            <div class="sidebar hide-for-small">
                <h6>Thèmes de formations</h6>
                <ul class="side-nav">
                    @Html.Action("Navigation", "Theme")
                </ul>
            </div>
        </div>
        <div class="large-9 medium-8 columns">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
