@model LearningCompany.Entities.FormationPresentielle

@{
    ViewBag.Title = "Nouvelle formation";
}

<h4>Créer une formation présentielle</h4>
<hr />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="large-3 columns">
            @Html.LabelFor(model => model.Reference)
            @Html.EditorFor(model => model.Reference)
            @Html.ValidationMessageFor(model => model.Reference)
        </div>
        <div class="large-9 columns">
            @Html.LabelFor(model => model.Libelle)
            @Html.EditorFor(model => model.Libelle)
            @Html.ValidationMessageFor(model => model.Libelle)
        </div>
    </div>

    <div class="row">
        <div class="small-6 large-3 columns">
            @Html.LabelFor(model => model.NombreJours)
            @Html.EditorFor(model => model.NombreJours)
            @Html.ValidationMessageFor(model => model.NombreJours)
        </div>
        <div class="small-6  large-3 columns">
            @Html.LabelFor(model => model.Prix)
            @Html.EditorFor(model => model.Prix)
            @Html.ValidationMessageFor(model => model.Prix)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.ThemeID)
            @Html.DropDownList("ThemeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ThemeID)
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.Lieu)
            @Html.EditorFor(model => model.Lieu)
            @Html.ValidationMessageFor(model => model.Lieu)
        </div>
    </div>

    <div class="clearfix">
        <input type="submit" class="button success tiny radius right" value="Ajouter la formation" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
