@model IEnumerable<LearningCompany.Entities.Formation>

@{
    ViewBag.Title = "Formations";
}

<h2>Formations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>Thème</th>
        <th>
            @Html.DisplayNameFor(model => model.NombreJours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreJours) jours
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormationID })
        </td>
    </tr>
}

</table>
