@model LearningCompany.Entities.SessionFormation

@{
    ViewBag.Title = "Nouvelle session de formation";
}

<h2>Créer une session de formation</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.FormationID)
            @Html.DropDownList("FormationID", String.Empty)
            @Html.ValidationMessageFor(model => model.FormationID)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.DateDebut)
            @Html.EditorFor(model => model.DateDebut)
            @Html.ValidationMessageFor(model => model.DateDebut)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.DateFin)
            @Html.EditorFor(model => model.DateFin)
            @Html.ValidationMessageFor(model => model.DateFin)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.Intervenant)
            @Html.EditorFor(model => model.Intervenant)
            @Html.ValidationMessageFor(model => model.Intervenant)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.FormateurID)
            @Html.DropDownList("FormateurID", String.Empty)
            @Html.ValidationMessageFor(model => model.FormateurID)
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            @Html.LabelFor(model => model.CommercialID)
            @Html.DropDownList("CommercialID", String.Empty)
            @Html.ValidationMessageFor(model => model.CommercialID)
        </div>
    </div>

    <div class="clearfix">
        <input type="submit" class="button success tiny radius right" value="Créer" />
    </div>
}
