@model LearningCompany.Entities.SessionFormation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SessionFormation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commercial.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commercial.NomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formateur.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formateur.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formation.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formation.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervenant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervenant)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
