@model LearningCompany.Entities.SessionFormation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SessionFormation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SessionFormationID)

        @Html.HiddenFor(model => model.FormationID)

        <div class="form-group">
            @Html.LabelFor(model => model.DateDebut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateDebut)
                @Html.ValidationMessageFor(model => model.DateDebut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFin)
                @Html.ValidationMessageFor(model => model.DateFin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Intervenant, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Intervenant)
                @Html.ValidationMessageFor(model => model.Intervenant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormateurID, "FormateurID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FormateurID", String.Empty)
                @Html.ValidationMessageFor(model => model.FormateurID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommercialID, "CommercialID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CommercialID", String.Empty)
                @Html.ValidationMessageFor(model => model.CommercialID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
